* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-image: url('https://hugelolcdn.com/i/431389.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* userinfo */

.jumbotron {
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 4rem;
    word-wrap: break-word;
}

/* forum */

.forum {
    background-color: rgba(255, 255, 255, 0.85);
    width: 90%;
    max-width: 800px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
}

/* create post */

#create-button {
    min-height: 60px;
    border-width: 2px;
    border-color: darkgreen;
    border-style: dashed;
    color: darkgreen;
    cursor: pointer;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* post-item */

.post-item {
    min-height: 60px;
    word-wrap: break-word;
}

.post-item:hover {
    background-color: lightyellow;
}

.title {
    font-weight: bold;
    line-height: 60px;
}

.title:link {
    color: black;
    text-decoration: none;
}

.title:visited {
    color: gray;
    text-decoration: none;
}

.title:hover {
    color: darkblue;
    text-decoration: none;
}

.title:active {
    color: darkgreen;
    text-decoration: none;
}

.post-item .author {
    line-height: 60px;
}

/* discuss */

.discuss {
    background-color: rgba(255, 255, 255, 0.85);
    width: 90%;
    max-width: 800px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
}

/* tag */

.tag {
    background-color: darkslategray;
    color: white;
    word-wrap: break-word;
}

/* content */

.content {
    border-color: darkslategray;
    border-width: 3px;
    border-style: solid;
    color: black;
    word-wrap: break-word;
}

/* comment */

.comment-list {
    background-color: darkslategray;
    color: white;
}

.comment-item {
    background-color: gray;
    min-height: 30px;
    word-wrap: break-word;
}

.comment-item .text {
    line-height: 30px;
}

.comment-item .author {
    line-height: 30px;
}

.comment-divide {
    background-color: black;
}

.comment-button-divide {
    background-color: white;
}

/* reply */

.reply {
    background-color: darkslategray;
    color: white;
}

.reply-button {
    color: teal;
}

.form-group {
    background-color: darkslategray;
    color: white;
    margin: 0;
}

/* footer */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
}

/* alert */

#custom-alert {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (min-width: 576px) {
    .jumbotron {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .forum {
        width: 75%;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .discuss {
        width: 75%;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
}