* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100%;
    background-image: url('https://hugelolcdn.com/i/431389.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 4rem;
    word-wrap: break-word;
}

#user-profile {
    background-color: rgba(255, 255, 255, 0.85); 
    width: 90%;
    max-width: 800px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    word-wrap: break-word;
    line-height: 3rem;
    font-size: 2rem;
}

.row:hover {
    background-color: lightyellow;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
}

@media (min-width: 576px) {
    .jumbotron {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    #user-profile {
        width: 75%;
        margin-top: 8rem;
        margin-bottom: 8rem;
        line-height: 5rem;
        font-size: 2rem;
    }
}